<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Emoticons</key>
	<array>
		<dict>
			<key>code</key>
			<string>(angel)</string>
			<key>name</key>
			<string>angel</string>
		</dict>
		<dict>
			<key>code</key>
			<string>o.O</string>
			<key>name</key>
			<string>confused</string>
		</dict>
		<dict>
			<key>code</key>
			<string>(cry)</string>
			<key>name</key>
			<string>cry</string>
		</dict>
		<dict>
			<key>code</key>
			<string>(m)</string>
			<key>name</key>
			<string>curlylips</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:(</string>
			<key>name</key>
			<string>frown</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:o</string>
			<key>name</key>
			<string>gasp</string>
		</dict>
		<dict>
			<key>code</key>
			<string>8)</string>
			<key>name</key>
			<string>glasses</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:D</string>
			<key>name</key>
			<string>grin</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:G(</string>
			<key>name</key>
			<string>grumpy</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:lv:</string>
			<key>name</key>
			<string>heart</string>
		</dict>
		<dict>
			<key>code</key>
			<string>o_o</string>
			<key>name</key>
			<string>kiki</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:*</string>
			<key>name</key>
			<string>kiss</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:v</string>
			<key>name</key>
			<string>pacman</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:pastor chris:</string>
			<key>name</key>
			<string>pastorChris</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:png:</string>
			<key>name</key>
			<string>penguin</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:|]</string>
			<key>name</key>
			<string>robot</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:S</string>
			<key>name</key>
			<string>shark</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:)</string>
			<key>name</key>
			<string>smiley</string>
		</dict>
		<dict>
			<key>code</key>
			<string>-_-</string>
			<key>name</key>
			<string>squint</string>
		</dict>
		<dict>
			<key>code</key>
			<string>8D)</string>
			<key>name</key>
			<string>sunglasses</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:T</string>
			<key>name</key>
			<string>tongue</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:?</string>
			<key>name</key>
			<string>unsure</string>
		</dict>
		<dict>
			<key>code</key>
			<string>:-o(</string>
			<key>name</key>
			<string>upset</string>
		</dict>
		<dict>
			<key>code</key>
			<string>;)</string>
			<key>name</key>
			<string>wink</string>
		</dict>
	</array>
</dict>
</plist>
